


<div class="container">
  <div class="row">
    <div class="col-md-2">
      <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">


      <div class="pt-2 pb-2 pl-3 pr-2">
      <h5 class="pb-1">カテゴリ検索</h5>
      <% categories.each do |category| %>
      <td>
        <%= link_to category.category_name, posts_path(category_id: category.id), class: "text-secondary" %>
      </td><br>
      <% end %>
      <br><br>
      <h5 class="pb-1">タグ検索</h5>
      <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
        <% Tag.all.each do |t| %>
          <label class="label">
            <li class="tag_list"><%= check_box :tag_ids, t.name %><%= t.name %></li>
          </label>
        <% end %>
        <div class="pt-2"><%= submit_tag '検索' %></div>
      <% end %>

      </div>
      </div>
      </nav>
    </div>
