<div class="container">
  <div class="row">
    <div class="col-md-12 offset-md-3">


    <%= form_with model: @post, url: post_path(@post), method: :patch do |post| %>
      <table>
        <tr>
          <td>写真(任意)</td><td><%= post.file_field :image, accept: "image/*" %></td>
        </tr>
         <tr>
          <td>タイトル</td><td><%= post.text_field :title ,:size=>"70" %></td>
        </tr>
        <tr>
          <td>カテゴリ</td><td><%= post.collection_select :category_id, Category.all, :id, :category_name, include_blank: '--選択してください--' %></td>
        </tr>
        <tr>
          <td>概要</td><td><%= post.text_area :outline, :size=>"70x5",:placeholder=>"概要を書いてください" %></td>
        </tr>
        <tr>
          <td>必要なもの<br>(255文字まで)</td><td><%= post.text_area:necessaries, :size=>"70x3" %></td>
        </tr>
        <tr>
          <td>ポイント</td><td><%= post.text_area :point, :size=>"70x3" %></td>
        </tr>
        <tr>
          <td>　</td>
          <td><%= post.text_area :tag_name %></td><div class="container">

  <div class="row">
    <div class="col-sm-12 pb-5">
      <h4 class="pb-4"><%=@customer.last_name %><%=@customer.first_name %>さんの会員情報</h4>

  <%= form_with model: @customer, url: admin_customer_path(@customer), method: :patch do |f| %>
    <table>
      <tr><td width="200" class="pb-2"><%= f.label :"会員ID" %></td><td><%= @customer.id %></td></tr>
      <tr><td class="pb-2"><%= f.label :"氏名" %></td><td class="pb-2"><%= f.text_field :last_name %></td><td class="pb-2"><%= f.text_field :first_name %></td></tr>
      <tr><td class="pb-2"><%= f.label :"フリガナ" %></td><td class="pb-2"><%= f.text_field :last_name_kana %></td><td class="pb-2"><%= f.text_field :first_name_kana %></td></tr>
      <tr><td class="pb-2"><%= f.label :"郵便番号" %></td><td class="pb-2"><%= f.text_field :postal_code %></td></tr>
      <tr><td class="pb-2"><%= f.label :"住所" %></td><td colspan="2" class="pb-2"><%= f.text_field :address,:size =>"60" %></th></tr>
      <tr><td class="pb-2"><%= f.label :"電話番号" %></td><td class="pb-2"><%= f.text_field :telephone_number %></td></tr>
      <tr><td class="pb-3"><%= f.label :"メールアドレス" %></td><td class="pb-3"><%= f.text_field :email %></td></tr>
      <tr><td class="pb-2"><%= f.label :"会員ステータス"%></td>
        <td  class="pb-2">
          <%= f.radio_button :is_active, :true %>
          <%= f.label :is_active, "有効" %>
          <%= f.radio_button :is_active, :false %>
          <%= f.label :is_active, "退会" %><br>
        </td>
      <tr class="pt-4"><td>　</td><td class="pt-4"><%= f.submit "変更を保存" ,class:"btn btn-success btn-lg" %></td></tr>
    </table>
  </div>

  <% end %>
  </div>
</div>
        </tr>
      </table>

      <div id="post_procedures_forms">
        <%= post.fields_for :procedures do | b | %>
          <div class="post_procedures_forms">
            <span class='label'>手順</span><span class='form'><%= b.text_area :content,:size=>"70x2" %></span>
          </div>
        <% end %>
      </div>
      <div id="form_append_button">追加する</div>
      <%= post.submit "内容を保存する", class:"btn btn-success btn-lg" %>


      <% end %>

    </div>
  </div>
</div>

<div id="extend_form">
  <div class="post_procedures_forms">
    <span class='label'>手順</span><span class='form'><input type="text" name="" id=""></span>
    <span class="close_button">&times;</span>
  </div>
</div>

<style>
  #extend_form {
    display: none;
  }
</style>

<script>
  const button = document.getElementById('form_append_button')

  button.addEventListener('click', e => {
  const forms = document.getElementById('post_procedures_forms')
  const targetForms = forms.querySelectorAll('.post_procedures_forms')
  const lastForm = targetForms[targetForms.length - 1]
  console.log(lastForm)
  const lastID = lastForm.getElementsByClassName('form')[0].firstElementChild.getAttribute('id')
  //const lastID = lastForm.getAttribute('id');
  const count = parseInt(lastID.replace('post_procedures_attributes_', '').replace('_content', ''), 10) + 1;
  const extend_form = document.getElementById('extend_form').firstElementChild.cloneNode(true)
  extend_form.querySelector('span:nth-child(2) input').setAttribute('id', `post_procedures_attributes_${count}_content`)
  extend_form.querySelector('span:nth-child(2) input').setAttribute('name', `post[procedures_attributes][${count}][content]`)
  forms.append(extend_form)
  extend_form.lastElementChild.addEventListener('click', e => {
    extend_form.remove();
  });
});
let forms = document.querySelectorAll("#post_procedures_forms .post_procedures_forms")
for(var i = 0; i < forms.length; i++){
  if (i != 0) {
    const form = forms[i]
    console.log(form.nextElementSibling)
    const target = form.querySelector('span:last-child')
    const span = document.createElement('span')
    span.setAttribute('class', 'close_button')
    span.textContent = "ｘ"
    form.append(span);
    form.addEventListener('click', e => {
      form.remove();
    });
  }
}

</script>