<div class="container">
  <div class="row">
    <div class="col-md-12 offset-md-3">
      <div class="d-flex">
      <% @posts.each do |post| %>
        <div class="rounded pb-4 pr-4">
          <%#= image_tag post.get_image(180,180) %>
          <%= link_to post_path(post) do %>
          <%= post.title %><br>
          <% end %>
          <%= post.outline.truncate(40) %>
          <%= link_to "#{post.comments.count} コメント", post_path(post.id) %>
        </div>
      <% end %>
      <br>
      
      <% @tag_lists.each do |list| %>
      <%= link_to list.tag_name, posts_path(tag_id: list.id), class: 'tag_list' %>
      <% end %>
      
      <% @tags.each do |tag| %>
     <%= link_to "##{tag.tag_name}", posts_path(tag), class: 'smaller tag_list' %>
     <% end %>
      </div>
    </div>
  </div>
</div>
