<%= render 'public/posts/list', categories: @categories, tag_lists: @tag_lists,  tags: @tags%>

    <div class="col-md-7 offset-1 border">
      <div class="offset-5">
        <% if current_user== @post.user %>
          <%= link_to "編集する", edit_post_path(@post),class:"btn btn-success" %>
          <%= link_to "削除する", post_path(@post),class:"btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか?" %>
        <% elsif admin_signed_in? %>
          <%= link_to "管路者用編集", edit_post_path(@post),class:"btn btn-success" %>
          <%= link_to "管理者削除", post_path(@post),class:"btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか?" %>
        <% end %>

        <% if @post.favorited_by?(current_user) %>
          <%= link_to post_favorites_path(@post),class:"btn btn-light", method: :delete do %>
            お気に入り解除
          <% end %>
        <% else %>
          <%= link_to post_favorites_path(@post),class:"btn btn-info", method: :post do %>
            お気に入りに登録
          <% end %>
        <% end %>
      </div>

      <span style="font-size:25px">
        <%= @post.title %>
      </span>
      <%= link_to posts_path(user_id: @post.user), class: "text-secondary" do %><br>
        ️<%= @post.user.nickname %>さんの投稿
      <% end%><br>

      <% if @post.image.attached? %>
        <%= image_tag @post.image, size: "400x300" %>
      <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
      <% end %>

        <div class="pb-3 pt-3 w-100">
        　<div class="pt-1 pb-3">
          　<%= @post.outline  %>
        　</div>

        　<p>【必要なもの】</p>
          <p><%= @post.necessaries %></p>
        　<p><i class="fas fa-hand-point-up"></i>ポイント</p>
          <p><%= @post.point %></p>
            <%# @post.tags.each do |tag| %>
            <%#= tag.tag_name %>
            <%# end %>

　        <p>【手順】</p>
          <p>
            <% @post.procedures.each do |procedure| %>
            <%= procedure.content %><br>
            <% end %>
          </p>

          <div class="pt-5">
          コメント件数：<%= @post.comments.count %>
            <table>
            <% @post.comments.each do |comment| %>
            <tr>
              <td><%= comment.user.nickname %></td>
              <td><%= comment.comment %></td>
            </tr>
            <tr>
              <td class="pr-3 pb-2"><%= comment.created_at.strftime('%Y/%m/%d') %></td>
              <td class="pb-2">
                <% if current_user == comment.user %>
                  <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
                <% elsif admin_signed_in? %>
                  <%= link_to "管理者用削除", post_comment_path(comment.post, comment), method: :delete, "data-confirm" => "本当に消しますか?" %>
                <% end %>
              </td><br>
            </tr>
            <% end %>
            </table>
            </div>
        <div>
        <%= form_with model: [@post, @comment], url: post_comments_path(post_id: @post) do |f| %>
        <%= f.text_area :comment, rows: '3', placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
        <% end %>
        </div>
        </div>
    </div>
  </div>
</div>