<%= render 'public/posts/list', categories: @categories,  tags: @tags%>

    <div class="col-md-9 offset-1">

    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
      <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p></div>
    <% end %>

    <div class="border pb-3">
      <div class="p-5">
        <% if @post.favorited_by?(current_user) %>
          <%= link_to post_favorites_path(@post),class:"btn btn-light", method: :delete do %>
            お気に入り解除
          <% end %>
        <% else %>
          <%= link_to post_favorites_path(@post),class:"btn btn-info", method: :post do %>
            お気に入りに登録
          <% end %>
        <% end %>
        <% if current_user== @post.user %>
          <%= link_to "編集する", edit_post_path(@post),class:"btn btn-success" %>
          <%= link_to "削除する", post_path(@post),class:"btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか?" %>
        <% elsif admin_signed_in? %>
          <%= link_to "管路者用編集", edit_post_path(@post),class:"btn btn-success" %>
          <%= link_to "管理者削除", post_path(@post),class:"btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか?" %>
        <% end %>
        <br><br>

        <% @post.impressionist_count %>

        <span style="font-size:25px">
          <%= @post.title %>
        </span>
        <%= link_to user_path(@user), class: "text-secondary" do %><br>
          <i class="fas fa-pen"></i>️<%= @post.user.nickname %>
        <% end%><br><br>

        <% if @post.image.attached? %>
          <%= image_tag @post.image, size: "400x300" %>
        <% else %>
          <%= image_tag 'no_image', size: "180x180" %>
        <% end %> <br><br>

        <% @post.tags.each do |tag| %>
        <div class="btn btn-secondary">
          <span>#<%= tag.name %></span>
        </div>
        <% end %>

        <div class="pb-3 pt-3 w-100">
        　<div class="pt-1 pb-3">
          　<%= @post.outline  %>
        　</div>

        　<p>【必要なもの】</p>
          <p><%= @post.necessaries %></p>
        　<p><i class="fas fa-hand-point-up"></i>ポイント</p>
          <p><%= @post.point %></p>
            <%# @post.tags.each do |tag| %>
            <%#= tag.tag_name %>
            <%# end %>

　        <p>【手順】</p>
          <p>
            <% @post.procedures.each do |procedure| %>
            <%= procedure.content %><br>
            <% end %>
          </p>
        </div>
      </div>
    </div>

      <div class="offset-1 pt-3">
        <div class="pt-4 pb-5">
          【コメントをする】　コメント件数：<%= @post.comments.count %>
          <div class="pt-2">
          <%= form_with model: [@post, @comment], url: post_comments_path(post_id: @post) do |f| %>
          <%= f.text_area :comment, :size=>"30x4", placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
          <% end %>
          </div>

          <% @post.comments.each do |comment| %>
            <div class="rounded border-bottom w-75 pr-4 pt-3">
              <div class="text-right text-secondary"><%= comment.created_at.strftime('%Y/%m/%d') %></div>
              <%= link_to link_to(comment.user.nickname, user_path(comment.user_id)), class: "text-secondary" %>
              <br>
              <%= comment.comment %>
              <% if current_user == comment.user %>
                <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
              <% elsif admin_signed_in? %>
                <%= link_to "管理者用削除", post_comment_path(comment.post, comment), method: :delete, "data-confirm" => "本当に消しますか?" %>
              <% end %><br>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>