<%= render 'admin/posts/list', categories: @categories, tag_lists: @tag_lists,  tags: @tags%>

    <div class="col-md-9 offset-1 ">

      <% @posts.each do |post| %>
      <div class="d-flex border-bottom pl-3 pr-4" >
        <div class="mt-1 mb-3">
        <table>
          <tr>
            <td>
              <%#= image_tag post.get_image(100,100) %>
              <%= link_to admin_post_path(post),class: "text-primary font-weight-bold" do %>
                <% if post.image.attached? %>
                  <%= image_tag post.image, class: "thumbnail-index" %>
                <% else %>
                  <%= image_tag 'no_image.jpg', class: "thumbnail-index" %>
                <% end %>
              <% end %>
            </td>
            <td class="pl-4">
              <%= link_to admin_post_path(post),class: "text-primary font-weight-bold" do %>
                <span class="post-title font-weight-bold"><%= post.title.truncate(30) %><br></span>
              <% end %>
              <%= post.outline.truncate(60) %><br><br>
              <span class="pr-3"><%= post.created_at.strftime('%Y/%m/%d') %></span>
              <%= link_to "♡#{post.favorites.count}", admin_post_path(post.id),class: "text-danger pr-3" %>
              <i class="fas fa-comment-dots"></i><%= link_to post.comments.count, admin_post_path(post.id),class: "text-dark pr-3" %>
            </td>
          </tr>
        </table>
        </div>
      </div><br>
      <% end %>
      <div class="offset-4 pb-5">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>
