<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-3 pt-5">

    <h3 class="pb-3">カテゴリ一覧　変更・追加</h3>
    <%= form_with model: @category, url: admin_categories_path do |f| %>
      <table>
        <td class="pr-5">カテゴリ名</td>
        <td class="pr-5"><%= f.text_field :category_name %></td>
        <td><%= f.submit '新規登録' %></td>
      </table>
    <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-2 pt-4 pb-5">

    <table class="table table-hover table-inverse">
      <tr class="bg-light">
        <th class="pl-5">カテゴリ</th>
        <td>　</td>
      </tr>
      <% @categories.each do |category| %>
      <tr>
        <th class="pl-5 pt-3"><%= category.category_name %></th>
        <td class="pl-5">
          <%= link_to "編集する", edit_admin_category_path(category.id),class:"text-right btn btn-success" %>
          <%= link_to "削除する", admin_category_path(category.id),class:"text-right btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか?" %>
        </td>
      </tr>
      <% end %>
    </table>

    </div>
  </div>
</div>