<div class="container">
  <div class="row">

    <div class="col-md-8 pr-5 pt-3">
      <span class="headline"><%= @user.nickname %>さんの投稿一覧</span> <br><br>
      <div class="pl-5">
      <% @posts.each do |post| %>
      <div class="d-flex border-bottom pl-2 pr-3">
        <div class="mt-1 mb-1">
          <table>
            <tr>
              <td>
                <%= link_to post_path(post),class: "text-primary font-weight-bold" do %>
                  <% if post.image.attached? %>
                    <%= image_tag post.image, class: "thumbnail-index" %>
                  <% else %>
                    <%= image_tag 'no_image.jpg', class: "thumbnail-index" %>
                  <% end %>
                <% end %>
              </td>
              <td class="pl-4">
                <%= link_to post_path(post) do %>
                  <span class="post-title font-weight-bold">
                    <%= post.title.truncate(30) %>
                  </span>
                <% end %> <br>
                <%= post.outline.truncate(50) %> <br><br>
                <span class="pr-3"><%= post.created_at.strftime('%Y/%m/%d') %></span>
                <%= link_to "♡#{post.favorites.count}", post_path(post.id),class: "text-danger pr-3" %>
                <i class="fas fa-comment-dots"></i><%= link_to post.comments.count, post_path(post.id),class: "text-dark pr-3" %>
              </td>
            </tr>
          </table>
        </div>
      </div> <br>
      <% end %>
      
      <div class="offset-4 pb-5">
        <%= paginate @posts %>
      </div>
      
      </div>
    </div>

    <div class="col-md-4 pl-4 pb-5">
      <h5 class="pb-1 font-weight-bold">
        登録情報
        <%= link_to "編集する", edit_user_path(current_user),class:"btn btn-success" %>
        <%= link_to "退会する", unsubscribe_path(current_user),class:"btn btn-danger" %>
      </h5>

      <table class="table table-bordered">
        <tr>
          <td class="table-secondary w-25">ニックネーム</td>
          <td class="w-25"><%= @user.nickname %></td>
        </tr>
        <tr>
          <td class="table-secondary">氏名カナ</td>
          <td><%= @user.name_kana %></td>
        </tr>
        <tr>
          <td class="table-secondary">エリア</td>
          <td><%= @user.area %></td>
        </tr>
        <tr>
          <td class="table-secondary">メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
      </table>

      <%= link_to "お気に入り一覧へ", bookmark_path, class:"btn btn-info" %>


    </div>
  </div>
</div>
