<div class="container">

  <div class="row">
    <div class="col-md-12 offset-1 pb-3">
      <h4>マイページ</h4>
    </div>
  </div>

    <div class="row">
    <div class="col-md-8 px-0">
      <h5 class="pb-1 font-weight-bold">登録情報　<%= link_to "編集する", edit_user_path(current_user),class:"btn btn-success" %></h5>

      <table class="table table-bordered">
        <tr><td class="table-secondary" scope="col" style="width: 30%">ニックネーム</td><td><%= @user.nickname %></td></tr>
        <tr><td class="table-secondary">氏名カナ<td><%= @user.name_kana %></td></tr>
        <tr><td class="table-secondary">エリア</td><td><%= @user.area %></td></tr>
        <tr><td class="table-secondary">メールアドレス</td><td><%= @user.email %></td></tr>
      </table>
      <br><br>
      <%= link_to "自分の投稿一覧", users_path %>
      <%#= link_to "ブックマーク",%>
    </div>
  </div>
</div>
